html{
    height: 100%;
    overflow-x: hidden;
}

.curtains{
    width: 100%;
    z-index:1;
    position:relative;
}

.curtains>li{
    background-color: #eee;
    position: fixed;
    display:none;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
    -webkit-backface-visibility:hidden; /* Remove if you got display issues */
   box-shadow: 0 1px 8px 1px #999;
}
.curtains>li:first-child{z-index:2;}

.curtains>li:first-child, .curtains>li:nth-child(2){
    display: block;
}

.cover._last {
    box-shadow: none;
}
